body {
  margin: auto;
  width: 50%;
  height: 90%;
  padding: 10px;
  font-size: 10pt;
  font-family: monospace;
  color: black;
}

.hello {
  /* width: 70%; */
  font-size: 8pt;
  /* margin: auto; */
  color: #5786d1;
}

.body-text {

}
